body {
  font-family: "Open Sans", sans-serif;
}

> header {
  margin: 0px 10px;
  margin-bottom: 10px;
}
> header .headline, > header .subline {
  margin: 5px 0;
}
> header .headline:first-child, > header .subline:first-child {
  margin-top: 0;
}
> header .headline:last-child, > header .subline:last-child {
  margin-bottom: 0;
}
> header .headline {
  font-size: 18px;
  color: #333333;
}
> header .subline {
  font-size: 14px;
  color: #888888;
}

img[class*="wp-image-"] {
  margin: 10px 0;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
  border: solid #ccc 1px;
  border-radius: 3px;
  box-sizing: content-box;
}
@media (max-width: 767px) {
  img[class*="wp-image-"] {
    width: 100%;
    height: auto;
  }
}
img[class*="wp-image-"]:last-child {
  margin-bottom: 0;
}

> h1, > h2, > h3, > h4 {
  margin: 10px;
  line-height: 1.2;
}

> h1, > h2 {
  font-size: 18px;
}

> h3, > h4 {
  font-size: 16px;
}

> h4 {
  font-size: 14px;
}

> p, > blockquote, > blockquote > p {
  margin: 10px;
  line-height: 1.6;
  font-size: 16px;
}

[data-partial="components/accordion-list/accordion"] > p:first-child, .partial[data-partial="components/post-list/post"] > p:first-child, [data-partial="components/accordion-list/accordion"] > blockquote:first-child, .partial[data-partial="components/post-list/post"] > blockquote:first-child {
  margin-top: 0;
}
[data-partial="components/accordion-list/accordion"] > p:last-child, .partial[data-partial="components/post-list/post"] > p:last-child, [data-partial="components/accordion-list/accordion"] > blockquote:last-child, .partial[data-partial="components/post-list/post"] > blockquote:last-child {
  margin-bottom: 0;
}

b, strong {
  font-weight: 600;
}

> blockquote {
  margin: 10px 20px;
  border-left: solid #555555 4px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

> ul, > ol {
  margin: 10px 10px 10px 30px;
  padding: 0;
  font-size: 15px;
}
> ul li, > ol li {
  margin-bottom: 5px;
  padding: 0 0 0 5px;
}
> ul li:last-child, > ol li:last-child {
  margin-bottom: 0;
}
> ul li ul, > ul li ol, > ol li ul, > ol li ol {
  margin: 5px 0 5px 20px;
}

> a {
  text-decoration: underline;
  color: #555555;
}
> a:hover {
  color: #000000;
}
