---
message: "Please activate javascript otherwise this page won't work."
---
<noscript class="pkg" data-pkg="agency-pkg-common/noscript">
    <section>
        {{{message}}}
    </section>
</noscript>
