---
message: 'Click on <span class="highlight agency-pkg-docs-icon-small-burger"></span> to open sidebar.<br />Click on <span class="highlight">Template name</span> for show. Use <span class="highlight">ext.</span> for open a new tab.'
---
<div class="pkg" data-pkg="agency-pkg-docs/overlay-message">
  <div>
    {{{message}}}
  </div>
</div>
