---
class: ""
picture:
  sources:
      - {type: 'default', srcset: '//dummyimage.com/992x480/333333/fff'}
---
<div class="partial swiper-slide {{class}}" data-partial="elements/slider/image">
  {{{mixin "elements/picture" picture}}}
</div>
