---
name: 'doc-content'
---
<div class="pkg controller" data-pkg="agency-pkg-docs/overview/content" data-controller="agency-pkg-docs/overview/content" data-target="[data-pkg='agency-pkg-docs/overview']">
  <iframe name="{{{name}}}" frameborder="0">iframe is not supported</iframe>
  <span class="placeholder"></span>
  {{{mixin "agency-pkg-docs/overlay-message"}}}
</div>
